<div class="movie-poster">
    <img src="{{ backdrop_path }}" alt="{{ original_title }}"/>
</div>
<span class="popularity"><span class="inner" style="{{ popularity }}"></span></span>
<div class="movie-info">
    {{#if original_title }}
    <span class="title"><em>"{{ title }}"</em></span>
    {{/if}}
    <span class="release_date"><strong>{{ release_date }}</strong></span>
    <a href="#/movie/{{ id }}" target="_blank"><h2>{{ original_title }}</h2></a>
    <span class="vote_average">Vote average: {{ vote_average }}</span>
</div>