<div class="movie-poster">
    <img src="{{imagesBaseUrl}}{{ image }}" alt="{{ original_title }}"/>
</div>
<div class="movie-info">

    <div><span class="release_date">{{release_date}}</span> · <span class="status">{{status}}</span></div>
    <h1>{{ title }}</h1>
    <span class="tagline">{{tagline}}</span>
    <div class="vote_average">{{#rating vote_average }}{{/rating}}</div>
    <div class="links">
        <a href="http://www.themoviedb.org/movie/{{ id }}" target="_blank">TMDB</a>
        <a href="www.imdb.com/title/{{imdb_id}}/" target="_blank">IMDB</a>
    </div>

    <ul class="genres">
        {{#each genres}}
        <li>{{name}}</li>
        {{/each}}
    </ul>

    <p class="overview">{{overview}}</p>

    <ul class="photo-gallery">
        {{#each backdrops}}
            <li><img src="{{../imagesBaseUrl}}{{file_path}}" alt="{{ ../original_title }}"/></li>
        {{/each}}
    </ul>

    {{!--<h3>adult: {{adult}}</h3>--}}
    {{!--<h3>budget: {{budget}}</h3>--}}
    {{!--<h3>production_companies: {{production_companies}}</h3>--}}
    {{!--<h3>production_countries: {{production_countries}}</h3>--}}
    {{!--<h3>revenue: {{revenue}}</h3>--}}
    {{!--<h3>spoken_languages: {{spoken_languages}}</h3>--}}
    {{!--<h3>vote_average: {{vote_average}}</h3>--}}
    {{!--<h3>vote_count: {{vote_count}}</h3>--}}

</div>